<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31592062119-0g8ejvuek0r6g415447pgt77nfmjhluk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31592062119-0g8ejvuek0r6g415447pgt77nfmjhluk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>31592062119-4emt5lnl870t2dd5lhijf44vcvr23cap.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9ThI03WmE6BIFXBcxE0LGDz5pCvt36B4</string>
	<key>GCM_SENDER_ID</key>
	<string>31592062119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.steve.instant</string>
	<key>PROJECT_ID</key>
	<string>optimum-battery-357002</string>
	<key>STORAGE_BUCKET</key>
	<string>optimum-battery-357002.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31592062119:ios:bba7bf977760ec33c0cf82</string>
	<key>DATABASE_URL</key>
	<string>https://optimum-battery-357002-default-rtdb.firebaseio.com</string>
</dict>
</plist>